In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hermanus,ZA,2021-05-29 21:58:10,-34.4187,19.2345,56.89,82,56,5.91
1,1,Korla,CN,2021-05-29 21:59:20,41.7597,86.1469,72.61,39,83,21.00
2,2,Jamestown,US,2021-05-29 21:57:29,42.0970,-79.2353,52.52,84,90,4.00
3,3,Ushuaia,AR,2021-05-29 21:57:20,-54.8000,-68.3000,29.86,93,75,21.85
4,4,Sainte-Maxime,FR,2021-05-29 22:02:53,43.3000,6.6333,64.96,88,93,6.60

In [3]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

## Create a temperature Heatmap

In [4]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Create a Percent Humidity Heatmap

In [5]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Create a Percent Cloudiness Heatmap

In [ ]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

## Create a Wind Speed Heatmap

In [7]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# 6.5.3 Get Vacation Criteria

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [9]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Rikitea,PF,2021-05-29 21:57:50,-23.1203,-134.9692,76.95,86,96,20.65
9,9,Ranong,TH,2021-05-29 22:02:54,9.9658,98.6348,78.94,87,98,6.15
12,12,Padang,ID,2021-05-29 22:02:55,-0.9492,100.3543,77.25,77,100,3.78
15,15,Hilo,US,2021-05-29 21:53:36,19.7297,-155.0900,81.81,83,13,7.00
18,18,Kavieng,PG,2021-05-29 22:01:17,-2.5744,150.7967,82.74,80,89,16.69
21,21,Itarema,BR,2021-05-29 22:02:57,-2.9248,-39.9167,79.93,80,89,12.86
28,28,Brownwood,US,2021-05-29 22:02:58,31.7093,-98.9912,83.52,58,67,12.97
32,32,Oriximina,BR,2021-05-29 22:02:59,-1.7656,-55.8661,79.88,79,35,2.64
37,37,Vaini,TO,2021-05-29 21:57:46,-21.2000,-175.2000,75.36,94,75,0.00
41,41,Georgetown,MY,2021-05-29 21:59:29,5.4112,100.3354,82.33,87,20,5.01

In [10]:
preferred_cities_df.count()

City_ID       177
City          177
Country       177
Date          177
Lat           177
Lng           177
Max Temp      177
Humidity      177
Cloudiness    177
Wind Speed    177
dtype: int64

# 6.5.4 Map Vacation Criteria

In [11]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
5      Rikitea      PF     76.95 -23.1203 -134.9692
9       Ranong      TH     78.94   9.9658   98.6348
12      Padang      ID     77.25  -0.9492  100.3543
15        Hilo      US     81.81  19.7297 -155.0900
18     Kavieng      PG     82.74  -2.5744  150.7967
21     Itarema      BR     79.93  -2.9248  -39.9167
28   Brownwood      US     83.52  31.7093  -98.9912
32   Oriximina      BR     79.88  -1.7656  -55.8661
37       Vaini      TO     75.36 -21.2000 -175.2000
41  Georgetown      MY     82.33   5.4112  100.3354

## Retrieve Hotels from a Nearby Search
Set the Parameters for a Nearby Search

In [12]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [18]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
      hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
      print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Rikitea,PF,76.95,-23.1203,-134.9692,Pension Maro'i
9,Ranong,TH,78.94,9.9658,98.6348,Tinidee Hotel@Ranong
12,Padang,ID,77.25,-0.9492,100.3543,Mercure Padang
15,Hilo,US,81.81,19.7297,-155.0900,Hilo Hawaiian Hotel
18,Kavieng,PG,82.74,-2.5744,150.7967,Nusa Island Retreat
21,Itarema,BR,79.93,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
28,Brownwood,US,83.52,31.7093,-98.9912,La Quinta Inn & Suites by Wyndham Brownwood
32,Oriximina,BR,79.88,-1.7656,-55.8661,Pousada Tia Amélia
37,Vaini,TO,75.36,-21.2000,-175.2000,Keleti Beach Resort
41,Georgetown,MY,82.33,5.4112,100.3354,Cititel Penang

## Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [22]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [24]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))